<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="register" class="block-aside">
			<h3>Registrate</h3>
			<form action="#" method="POST">
				<label for="nombre">Nombre</label>
				<input type="text" name="nombre" id="nombre">

				<label for="apellidos">Apellidos</label>
				<input type="text" name="apellidos" id="apellidos">

				<label for="email">Email</label>
				<input type="email" name="email" id="email">

				<label for="password_register1">Contraseña</label>
				<input type="password" name="password" id ="password_register1">

				<label for="password_register2">Repite tu contraseña</label>
				<input type="password" name="password_repeat" id ="password_register2">

				<input type="submit" name="submit_register" value="Registrarse">
			</form>
		</div>
</html>
